.home {
	

	height: 100%;
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
	box-sizing: border-box;
background-image: linear-gradient(to right, #040719, #372639, #6c4450, #9b695f, #bc986f);
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
      margin-left: 89px;

}

@media (max-width: 940px) {
  .home {
    margin-top:89px;
    margin-left: 0;
    width: 100%;
   
  }
}

@media (max-width: 490px) {
  .home {
    margin-top:60px;
    margin-left: 0;
    width: 100%;
   
  }
}
